<html ng-app="myApp">
<head>
	<title>Brief</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container"  ng-controller="mainController">
		<div class="row">
			<div class="col-md-6">
				<h3>Editor with toolbar</h3>
				<ng-quill-editor ng-model="content" ></ng-quill-editor>
			</div>
			<div class="col-md-6">
				<h3>Editor without toolbar</h3>
				<ng-quill-editor ng-model="comment" no-tool-bar></ng-quill-editor>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-12">
				<h3>Preiview</h3>
			<div ng-bind-html="content"></div>
			<div ng-bind-html="comment"></div>
			</div>
		</div>
		<div class="row">
			<h3>Master Branch</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="node_modules/quill/dist/quill.js"></script>
	<script src="js/ng-quill.js"></script>
	<script src="js/quill-emoji.js"></script>
	<script src="js/app.js"></script>
</body>
</html>